{% extends 'base.html.twig' %}

{% block title %}A propos de
{{appName}}
{% endblock %}

{% block body %}
<section class="page-header">
  <div class="page-header__bg"></div>
  <div class="page-header__shape wow fadeInUp" data-wow-delay="200ms"></div>
  <div class="page-header__overlay"></div>
  <!-- /.page-header__bg -->
  <div class="container">
    <h2 class="page-header__title">A propos</h2>
    <ul class="grdeen-breadcrumb list-unstyled">
      <li>
        <a href="{{path('accueil')}}">Accueil</a>
      </li>
      <li>
        <span>A propos</span>
      </li>
    </ul>
    <!-- /.thm-breadcrumb list-unstyled -->
  </div>
  <!-- /.container -->
</section>
<!-- /.page-header -->

<section class="about-one about-one--two about-one--two--about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-one__image wow fadeInLeft" data-wow-delay="100ms">
          <div class="about-one__shapetop"></div>
          <img class="about-one__bigimage" src="{{asset('themes/base/assets/images/resources/about-image2-1.jpg')}}"
            alt="grdeen">
          <div class="about-one__smimage">
            <img src="{{asset('themes/base/assets/images/resources/about-image2-2.jpg')}}" alt="grdeen">
          </div>
          <div class="about-one__shapebottom"></div>
        </div>
      </div>
      <!-- /.col-lg-6 -->

      <div class="col-lg-6 wow fadeInRight" data-wow-delay="100ms">
        <div class="about-one__content">
          <div class="about-one__content__sctwap">
            <div class="sec-title">
              <div class="sec-title__img">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" direction="rtl" width="12.000000pt"
                  height="10.000000pt" viewbox="0 0 12.000000 10.000000" preserveaspectratio="xMidYMid meet">
                  <g transform="translate(0.000000,10.000000) scale(0.100000,-0.100000)" stroke="none">
                    <path
                      d="M58 84 c12 -8 22 -24 22 -34 0 -10 -10 -26 -22 -34 l-22 -16 27 0
                                                c17 0 32 9 43 25 15 23 15 27 0 50 -11 16 -26 25 -43 25 l-27 0 22 -16z" />
                  </g>
                </svg>
              </div>

              <span class="sec-title__tagline">Présentation de notre entreprise</span>
              <!-- /.sec-title__tagline -->

              <h2 class="sec-title__title">Nous offrons des services de jardinage experts</h2>
              <!-- /.sec-title__title -->
            </div>
            <!-- /.sec-title -->
          </div>
          <p class="about-one__content__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
            Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
          </p>
          <div class="about-one__content__qualitwrap">
            <div class="about-one__content__qualitwrap__col">
              <div class="about-one__content__qualitwrap__icon">
                <i class="icon-high-quality"></i>
              </div>
              <h4 class="about-one__content__qualitwrap__title">Services de jardinage
                <br>
                de qualité
              </h4>
            </div>
            <div class="about-one__content__qualitwrap__col mb-0">
              <div class="about-one__content__qualitwrap__icon">
                <i class="icon-plant"></i>
              </div>
              <h4 class="about-one__content__qualitwrap__title">Nous sommes des
                <br>
                jardiniers expérimentés
              </h4>
            </div>
            <div class="about-one__content__qualitwrap__pricesbox text-center">
              <div class="about-one__content__qualitwrap__tpright">
                <i class="icon-pot"></i>
              </div>
              <div class="about-one__content__qualitwrap__btmleft">
                <i class="icon-pot"></i>
              </div>
              <strong class="about-one__content__qualitwrap__price">20+</strong>
              <span class="about-one__content__qualitwrap__text">Années d'expérience</span>
            </div>
          </div>
          <ul class="list-unstyled about-one__content__list">
            <li>
              <i class="icon-check-solid"></i>Lorem ipsum ou lipsum comme on l'appelle parfois
            </li>
            <li>
              <i class="icon-check-solid"></i>Service de jardinage professionnel pour toute votre maison
            </li>
            <li>
              <i class="icon-check-solid"></i>Il existe de nombreuses variantes de passages du Lorem Ipsum disponibles
            </li>
          </ul>
          <a href="about.html" class="grdeen-btn">
            <span>En savoir plus</span>
          </a>
        </div>
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- /.about-one -->

<section class="feature-one feature-one--two">
  <div class="container">
    <div class="row gutter-y-30 feature-one__row">
      <div class="col-xl-3 col-md-6 wow fadeInUp" data-wow-delay="00ms">
        <div class="feature-one__item">
          <div class="feature-one__item__bg"
            style="background-image: url('{{asset('themes/base/assets/images/shapes/feature-bg-2-1.png')}}');"></div>
          <div class="feature-one__item__content">
            <h4 class="feature-one__item__title">Services de qualité</h4>
            <p class="feature-one__item__text">Lorem ipsum dolor sit amet, ultrices gravida risus commodo viverra</p>
          </div>

          <div class="feature-one__item__iconwrap">
            <div class="feature-one__item__icon">
              <i class="icon-guaranteed"></i>
            </div>
          </div>
        </div>
        <!-- feature-item -->
      </div>
      <div class="col-xl-3 col-md-6 wow fadeInUp" data-wow-delay="100ms">
        <div class="feature-one__item">
          <div class="feature-one__item__bg"
            style="background-image: url('{{asset('themes/base/assets/images/shapes/feature-bg-2-1.png')}}');"></div>
          <div class="feature-one__item__content">
            <h4 class="feature-one__item__title">Équipe professionnelle</h4>
            <p class="feature-one__item__text">Lorem ipsum dolor sit amet, ultrices gravida risus commodo viverra</p>
          </div>

          <div class="feature-one__item__iconwrap">
            <div class="feature-one__item__icon">
              <i class="icon-gardening-1"></i>
            </div>
          </div>
        </div>
        <!-- feature-item -->
      </div>
      <div class="col-xl-3 col-md-6 wow fadeInUp" data-wow-delay="200ms">
        <div class="feature-one__item">
          <div class="feature-one__item__bg"
            style="background-image: url('{{asset('themes/base/assets/images/shapes/feature-bg-2-1.png')}}');"></div>
          <div class="feature-one__item__content">
            <h4 class="feature-one__item__title">Résultats garantis</h4>
            <p class="feature-one__item__text">Lorem ipsum dolor sit amet, ultrices gravida risus commodo viverra</p>
          </div>

          <div class="feature-one__item__iconwrap">
            <div class="feature-one__item__icon">
              <i class="icon-guarantee"></i>
            </div>
          </div>
        </div>
        <!-- feature-item -->
      </div>
      <div class="col-xl-3 col-md-6 wow fadeInUp" data-wow-delay="300ms">
        <div class="feature-one__item">
          <div class="feature-one__item__bg"
            style="background-image: url('{{asset('themes/base/assets/images/shapes/feature-bg-2-1.png')}}');"></div>
          <div class="feature-one__item__content">
            <h4 class="feature-one__item__title">Clients satisfaits</h4>
            <p class="feature-one__item__text">Lorem ipsum dolor sit amet, ultrices gravida risus commodo viverra</p>
          </div>

          <div class="feature-one__item__iconwrap">
            <div class="feature-one__item__icon">
              <i class="icon-rating"></i>
            </div>
          </div>
        </div>
        <!-- feature-item -->
      </div>
    </div>
  </div>
</section>

<!-- Feature End -->

<section class="funfact-one funfact-one--about">
  <div class="container">
    <div class="row gutter-y-30">
      <div class="col-lg-6">
        <div class="funfact-one__content">
          <div class="funfact-one__content__sctwrap wow fadeInUp" data-wow-delay="100ms">
            <div class="sec-title">

              <div class="sec-title__img">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" direction="rtl" width="12.000000pt"
                  height="10.000000pt" viewbox="0 0 12.000000 10.000000" preserveaspectratio="xMidYMid meet">
                  <g transform="translate(0.000000,10.000000) scale(0.100000,-0.100000)" stroke="none">
                    <path d="M58 84 c12 -8 22 -24 22 -34 0 -10 -10 -26 -22 -34 l-22 -16 27 0
														c17 0 32 9 43 25 15 23 15 27 0 50 -11 16 -26 25 -43 25 l-27 0 22 -16z" />
                  </g>
                </svg>
              </div>

              <span class="sec-title__tagline">NOS FAITS AMUSANTS</span>
              <!-- /.sec-title__tagline -->

              <h2 class="sec-title__title">L'herbe est toujours
                <br>
                plus verte de notre côté
              </h2>
              <!-- /.sec-title__title -->
            </div>
            <!-- /.sec-title -->
          </div>
          <p class="funfact-one__content__text">Il existe de nombreuses variations de passages de Lorem Ipsum
            disponibles, mais la majorité a subi une altération sous une forme, par l'humour injecté, des mots
            aléatoires qui ne semblent même pas légèrement crédibles.</p>
          <div class="funfact-one__content__bookwrap d-flex align-items-center">
            <a href="contact.html" class="grdeen-btn funfact-one__content__bookwrap__btn">
              <span>Réservez maintenant</span>
            </a>
            <p class="funfact-one__content__bookwrap__text">Réservez une consultation professionnelle gratuite en
              jardinage !</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <ul class="list-unstyled funfact-one__list">
          <li class="funfact-one__item count-box">
            <div class="work-process-one__col">
              <div class="work-process-one__col__circlewrap">
                <div class="work-process-one__col__icon">
                  <div class="funfact-one__countwrap">
                    <strong class="funfact-one__count count-text" data-stop="10" data-speed="1500"></strong>
                    <span class="funfact-one__count">K</span>
                  </div>
                </div>
              </div>
              <div class="work-process-one__col__info text-center">
                <h3 class="work-process-one__col__title">Projets terminés</h3>
                <p class="work-process-one__col__text">Lorem ipsum dolor sit amet</p>
              </div>
              <div class="work-process-one__col__shapebg"></div>
            </div>
          </li>
          <!-- /.funfact-one__item -->

          <li class="funfact-one__item count-box">
            <div class="work-process-one__col">
              <div class="work-process-one__col__circlewrap">
                <div class="work-process-one__col__icon">
                  <div class="funfact-one__countwrap">
                    <strong class="funfact-one__count count-text" data-stop="2110" data-speed="1500"></strong>
                  </div>
                </div>
              </div>
              <div class="work-process-one__col__info text-center">
                <h3 class="work-process-one__col__title">Clients satisfaits</h3>
                <p class="work-process-one__col__text">Lorem ipsum dolor sit amet</p>
              </div>
              <div class="work-process-one__col__shapebg"></div>
            </div>
          </li>
          <!-- /.funfact-one__item -->
        </ul>
        <!-- /.list-unstyled funfact-one__list -->
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>

{% endblock %}